{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container" style="max-width: 700px;">

        <picture>
            <img
                src="/static/images/food-truck-works-logo.png"
                alt="Food Truck Works"
                class="ftw-logo ftw-logo--invitation"
                width="1039"
                height="883"
            >
        </picture>

        <div class="box">

            <h1 class="title">
                {{ title }}
            </h1>

            <p class="mb-5">
                {{ message }}
            </p>

            <p class="help">
                If you believe this is an error, contact your manager
                and request a new invitation.
            </p>

        </div>

    </div>
</section>

{% endblock %}
